/*Fuentes*/
@font-face{
    font-family: "fajala";
    src: url(../fonts/fuente.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Estilos generales
primero limpiamos los margenes y los padding
Establecer primero cual va a ser la fuente por defecto que va a ver en toda la pagina
*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, Helvetica, Arial;
    text-decoration: none;
}

/*limpiar los flotados*/
.clearfix{
    clear: both;
    float: none;
}

body{
    
   background: url(../img/cubes.png) #F4F4F4;
}


